body {
    background-image: url('/assets/images/cat_theme.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white; /* Adjust text color for contrast */
    text-shadow: 2px 2px 4px black;
}
